#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 li{
  border-color: blue;
  border-style: solid;
  margin:50px;
  list-style: none;

 }
img{
  max-width:300px;
  
}
.article-info{
border-style: groove;
border-radius: 30px;
margin:20px;


}

