#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

 li{
  border-color: blue;
  border-width: 10px;
  border-style: groove;
  margin:50px;
  list-style: none;

 }
img{
  max-width:300px;
  
}
.article-info{
border-style: groove;
border-radius: 30px;
border-width: 10px;
margin:20px;
font-size: larger;
color:azure;
margin: 100px;





}

nav{
  border-color: aqua;
  border-width: 30px;

}