:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nav-link{
  padding:10px;
  color:white;
  font-size: larger;
  border-style: groove;
  margin:30px;
  border-radius: 30px;

}

#single-article{
  border-style: solid;
  border-color: blue;
  margin:50px;
}

#comment-box{
  width: 600px;
  height: 100px;
}